@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply antialiased;
}

#reader__scan_region {
  background-color: transparent !important;
}

#reader__dashboard_section_csr button {
  @apply bg-[#5A5A40] text-white px-4 py-2 rounded-xl text-sm font-bold;
  background-color: #5A5A40 !important;
  color: white !important;
}

#reader {
  border: none !important;
}
